<h1>Editing sub_orcamento</h1>

<%= render 'form' %>

<%= link_to 'Show', orcamento_sub_orcamento_path(@sub_orcamento.orcamento, @sub_orcamento) %> |
<%= link_to 'Back', orcamento_path(@sub_orcamento.orcamento) %>
